<div class="master-wrapper">



  <!--  ==========  -->
  <!--  = Slider Revolution =  -->
  <!--  ==========  -->

<app-slider></app-slider>

  <!--  ==========  -->
  <!--  = Main container =  -->
  <!--  ==========  -->
<app-special-products></app-special-products>
  <!--  ==========  -->
  <!--  = New Products =  -->
  <!--  ==========  -->
  <app-new-products></app-new-products>
  <!--  ==========  -->
  <!--  = Most Popular products =  -->
  <!--  ==========  -->
<app-favorite-products></app-favorite-products>
  <!--  ==========  -->
  <!--  = Lastest News =  -->
  <!--  ==========  -->
 <app-latestnews></app-latestnews>
  <!--  ==========  -->
  <!--  = Brands Carousel =  -->
  <!--  ==========  -->
  <app-brands></app-brands>

</div>
